body {
    background-color: black;
    text-align: center;
}


.content {
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif;
    color: white;
    
}

.content h1 {
    text-transform: capitalize;
}

.content img {
    width: 730px;
    border: solid white;
    border-width: 5px;
    margin-top: 50px;
    
}
